
.center{ 
    display: grid;
    place-items: center;
    /* clase para centrar horizontal y vertical */
}

.grad{
    background: linear-gradient(to bottom,#0066ff,#88cfe0 33%, #cfedf7  );
    /* clase para fondo de color degradado */
}

.afont{
    font-size: 30px;
    /* Tamaño de fuente del Link */
}

.sub{
    background-color: #28a745;
    width: 100%;
    color: white;
    /* Clase para el boton color verde ancho 100% y texto blanco */
    
}

.sub:hover{
    background-color: #28a745;
    color: white;
    /* Modificando el effecto hoover de bootsrap del boton del login*/
}


tr th{
    text-align: center;
    /* Clase para centrar los titulos de la cuadricula */
}

.imagen{
    width: 500px;
    height: 500px;
    border-radius:50%;
    /* Clase con parametros de imagen, maximo 500px ademas redondeada */
}

p {
    font-size: 16px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #f2f2f2;
    justify-content: center;
    /* Clase con los parametros para los parrafos, margenes, color de fondo y justificado */
}

table{
    width: 100%;
    /* Ancho de la tabla */
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
    /* Parametros de las columnas y borde */
}

.caja{
    width: 100px;
    height: 100px;
    margin: 10px;
    margin-bottom: 30px;
    /* Tamaño de las imagenes pequeñas, con margen inferior 30px */
}



/* Media para ocultar la imagen cuando la pantalla sea menor a 768 pixeles la imagen se mantendra centrada ya que la clase de centrado no cambia */
@media screen and (max-width: 767px){
    .imagen {
        display: none;
        
    }
}